<h1><%= "#{current_user.name}さんのタスク一覧" %></h1>
<%= form_with(scope: :select, url: tasks_path, local: true, method: :get) do |d| %>
  <%= d.label :search, "タスク名 検索：" %>
  <%= d.text_field :search %> <br>
  <%= d.label :status, "ステータス:" %>
  <%= d.select :status, ["未着手", "着手中", "完了"], include_blank: "選択してください" %>
  <!-- <%= d.check_box :status_not, {checked: true} %>
  <%= d.label :status_not, "未着手" %>
  <%= d.check_box :status_working, {checked: true} %>
  <%= d.label :status_working, "着手中" %>
  <%= d.check_box :status_fin, {checked: true} %>
  <%= d.label :status_fin, "完了" %> <br>
  <%= d.label :sort_index, "表示順：" %>
  <%= d.select :sort_index,[["タスク名", :task_name],["内容", :content],["ステータス", :status],["優先度", :priority],["期限", :deadline],["投稿日", :created_at]], include_blank: "選択してください" %>
  <%= d.select :direction,[["昇順", :asc],["降順", :desc]] %> <br> -->
  <%= d.submit "表示する" %> <br>
<% end %>
<%= link_to "終了期限でソートする",tasks_path(sort_expired: "true")  %>
<%= link_to "優先順位でソートする",tasks_path(sort_priority: "true") %>
<table>
  <tr>
    <th>タスク名</th>
    <th>内容</th>
    <th>ステータス</th>
    <th>優先度</th>
    <th>期限</th>
    <th>投稿日時</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td> <%= task.task_name %> </td>
    <td> <%= task.content %> </td>
    <td> <%= task.status %> </td>
    <td> <%= task.priority %> </td>
    <td> <%= format("%04d年%02d月%02d日 %02d:%02d", task.deadline.year, task.deadline.month, task.deadline.day, task.deadline.hour, task.deadline.min) %> </td>
    <td> <%= format("%04d年%02d月%02d日 %02d:%02d", task.created_at.year, task.created_at.month, task.created_at.day, task.created_at.hour, task.created_at.min) %> </td>
    <td> <%= link_to "詳細", task_path(task.id) %> </td>
    <td> <%= link_to "編集", edit_task_path(task.id) %> </td>
    <td> <%= link_to "削除", task_path(task.id), method: :delete, data: {confirm: "削除しますか？"} %> </td>
  </tr>
  <% end %>
</table>
<%= paginate @tasks %>