<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <header>
    <h1>Everyleaf</h1>
  </header>
  <div id="navbar" >
    <% if current_user_admin? %>
      <div id = "nav_admin">
        <%= link_to('ユーザー 一覧', admin_users_path) %>
        <%= link_to('ユーザー 作成', new_admin_user_path) %>
        <%= link_to('ラベル一覧', admin_labels_path) %>
      </div>
    <% end %>
    <% if logged_in? %>
      <div id = "nav_task">
        <%= link_to('タスク一覧', tasks_path) %>
        <%= link_to('タスク新規登録', new_task_path) %>
        <%= link_to('ユーザー情報', user_path(current_user.id)) %>
      </div>
      <div id="nav_user">
          <%= link_to('ログアウト', session_path(current_user.id), method: :delete) %>
      </div>
    <% else %>
      <div id="nav_user">
          <%= link_to('ログイン', new_session_path ) %>
          <%= link_to('ユーザー登録', new_user_path ) %>
      </div>
    <% end %>
  </div>
  <% if flash %>
    <% flash.each do |key, value| %>
      <%= content_tag(:p, value, class: key) %>
    <% end %>
  <% end %>
  <div id="content_wrapper">
    <%= yield %>
  </div>

  </body>
</html>
